:root {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  --active-color-gray: #a1a1a1;
  --emphasis-color-blue: #1a8198;
  --highlight-font-weight: 400;
}
/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Roboto";
  overflow: auto;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
p {
  margin: 0;
}

/* --GENERAL CLASSES */
.header__nav-line--hidden {
  visibility: hidden;
}

/* CONTAINERS */
.container-sm {
  max-width: 1058px;
  justify-content: center;
  align-items: center;
}
.container-md {
  max-width: 1041px;
  justify-content: center;
  align-items: center;
}
.container-lg {
  max-width: 1240px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container-xl {
  max-width: 1260px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* TEXT DECORATIONS */
.highlight--gray {
  color: var(--active-color-gray);
}
.highlight--blue {
  color: var(--emphasis-color-blue);
}
.highlight--font-weight {
  font-weight: var(--highlight-font-weight);
}

/* TITLES */
.title-paragraph {
  line-height: 1.579;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
}

.title-paragraph__title {
  font-weight: 300;
  font-size: 1.5625rem;
  letter-spacing: 0.2em;
  margin: 0;
}
.title-paragraph__title--large {
  font-size: 1.875rem;
}
.title-paragraph--center {
  align-items: center;
}

/* LINKS */
.link {
  max-width: 180px;
  aspect-ratio: 1 / 0.2334;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #26a4bf;
  font-weight: 700;
  font-family: "Roboto Slab";
}
.link--yellow {
  background: #e8e36d;
  color: #2e2e2e;
}
.link--dark-blue {
  background: #1a8198;
  position: absolute;
  bottom: -64%;
}

/* HEADER SECTION */
.header {
  padding: 41px 0 23px;
}
.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab";
}
.header__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: #000000;
  letter-spacing: 0.2em;
  gap: 32%;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  z-index: -1;
  max-width: 567px;
  width: 100%;
  aspect-ratio: 0.86 /1;
  left: -36.2%;
  bottom: -342px;
  background-image: url("./assets/icons/yellow-blob.svg");
  background-repeat: no-repeat;
}
.header__company-name {
  font-weight: 300;
  margin-bottom: 10px;
}
.header__nav {
  font-weight: 300;
  max-width: 49%;
  width: 100%;
  margin-bottom: 0;
}
.header__nav-list,
.footer__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7%;
}
.header__nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.header__nav-list li a,
.footer__nav-link {
  text-decoration: none;
  text-transform: lowercase;
  color: #000000;
  text-align: center;
}
.header__nav-line {
  width: 31px;
  background-color: #000000;
  height: 3px;
}
.header__nav-list li a.highlight--gray {
  color: #a1a1a1;
}

/* 1. WELCOME SECTION */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.welcome-image {
  position: relative;
  display: block;
}
.welcome__image img {
  position: absolute;
}
.welcome__mask {
  position: absolute;
}
.welcome__mask--blue {
  bottom: 22%;
  height: 17%;
  z-index: 2;
}
.welcome__mask--white {
  height: 20%;
  bottom: -2.5%;
  z-index: 3;
}
.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 11;
  margin-top: -3%;
}
.welcome-section-text-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 2 EMPLOYEES SECTION */
.employees {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  gap: 7.5%;
}
.employees__employee-card {
  align-self: center;
}
.employees__image,
.employees__info {
  max-width: 350px;
  width: 100%;
}
.employees__image {
  display: inline-block;
  box-shadow: 20px 20px #1a8198;
}
.employees__image img {
  display: block;
}
.employees :nth-child(even) .employees__image {
  box-shadow: 20px -20px #1a8198;
}
.employees__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.employees__info p {
  text-align: center;
}

/* 3 WORK ENVIRONMENT SECTION & EMPLOYEE PROFILE SECTION*/

.work-env,
.cta {
  background-color: #26a4bf;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 373px;
  padding: 40px 0;
  position: relative;
  overflow-x: hidden;
}
.work-env {
  position: relative;
  z-index: -2;
  padding-bottom: 52px;
}
.work-env__section,
.cta__section {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.work-env__section {
  justify-content: space-between;
  gap: 40px;
}
.work-env__image,
.cta__image {
  position: relative;
  max-width: 506px;
  width: 100%;
  height: auto;
  z-index: 5;
}
.work-env__image {
  max-width: 506px;
  width: 100%;
  box-shadow: -371px 28px 0 #26a4bf, 27px 28px 0px #1a8198;
}
.work-env__info,
.cta__info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 394px;
  width: 100%;
  margin: 0;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}
.work-env__info p {
  text-align: right;
}

/* 4 EMPLOYEE PROFILE SECTION */
.cta {
  background-color: #ffffff;
  overflow-y: hidden;
}
.cta__section {
  gap: 31px;
  display: flex;
  padding: 81px 0 125px;
}
.cta__image {
  max-width: 450px;
  box-shadow: -242px 21px white, 20px 20px #26a4bf;
}
.cta__image img {
  width: 100%;
}
.cta__image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  max-width: 567px;
  width: 100%;
  aspect-ratio: 0.86 /1;
  left: -46.2%;
  bottom: -230px;
  background-image: url("./assets/icons/yellow-blob.svg");
  background-repeat: no-repeat;
}
.cta__info {
  color: #000000;
  max-width: 558px;
}
.cta__info::after {
  content: "";
  position: absolute;
  max-width: 750px;
  width: 100%;
  aspect-ratio: 0.86 / 1;
  right: -84%;
  top: -550px;
  background-image: url("./assets/icons/yellow-blob.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.cta__info p {
  text-align: right;
}
.cta__info a {
  align-self: flex-end;
}

/* 5 FOOTER  */
.footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #1a8198;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  padding: 40px 0 30px;
  line-height: 1.567rem;
  gap: 58px;
}
.footer__contact {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__contact-info {
  max-width: 505px;
  width: 100%;
}
.footer__job-application {
  max-width: 510px;
  width: 100%;
  display: flex;
  gap: 18px;
}
.footer__divider {
  width: 2px;
  height: 319px;
  background-color: #499aac;
}
.footer__copyright {
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2rem;
}
.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: flex-end;
  font-weight: 400;
}

.footer__nav-link {
  color: #ffffff;
}

/* RESPONSIVE */
@media (width < 1250px) {
  .employees__employee-card {
    margin-top: 6%;
  }
}
@media (width<1055px) {
  .cta__info {
    margin: 0 auto;
    align-items: center;
  }
  .cta__info a {
    align-self: center;
  }
  .cta__image::before {
    display: none;
  }
  .cta__info::after {
    display: none;
  }
  .link--dark-blue {
    bottom: -30%;
  }
}

@media (width < 1048px) {
  .work-env {
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
  }
  .work-env__section {
    justify-content: center;
  }
}
@media (width<1025px) {
  .footer__job-application,
  .footer__contact-info {
    margin: 0 auto;
  }
  .footer__job-application {
    margin-top: 6%;
  }
  .footer__copyright {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__nav-list {
    flex-wrap: nowrap;
  }
  .footer {
    margin-top: 30px;
  }
}
@media (width < 809px) {
  .header__nav,
  header::before {
    display: none;
  }
}
